* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 0 35px;
  text-align: center;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  border: 2px solid rgba(238, 238, 238, 0.5);
    border-radius: 19px; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    color: #fff;
    border-color: #EEEEEE; }
    input:hover + .input-icon, input:focus + .input-icon, textarea:hover + .input-icon, textarea:focus + .input-icon, select:hover + .input-icon, select:focus + .input-icon {
      opacity: 1; }
    input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, select:hover::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
      color: #fff; }
    input:hover::-moz-placeholder, input:focus::-moz-placeholder, textarea:hover::-moz-placeholder, textarea:focus::-moz-placeholder, select:hover::-moz-placeholder, select:focus::-moz-placeholder {
      color: #fff; }
    input:hover::-ms-input-placeholder, input:focus::-ms-input-placeholder, textarea:hover::-ms-input-placeholder, textarea:focus::-ms-input-placeholder, select:hover::-ms-input-placeholder, select:focus::-ms-input-placeholder {
      color: #fff; }
    input:hover::placeholder, input:focus::placeholder, textarea:hover::placeholder, textarea:focus::placeholder, select:hover::placeholder, select:focus::placeholder {
      color: #fff; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: rgba(255, 255, 255, 0.5); }

select {
  width: 100%;
  height: 38px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 2px solid rgba(238, 238, 238, 0.5);
    border-radius: 19px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center; }

input {
  height: 38px; }

textarea {
  height: 103px;
  padding: 10px;
  text-align: left; }

label {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto 15px; }

.input-icon {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .5; }

.input-icon-select {
  left: auto;
  right: 15px; }

.input-title {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  margin: 0 auto 3px; }

.link {
  text-decoration: underline;
  margin: 5px auto 0;
  color: #fff;
  font-size: 12px; }

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }

h2 {
  text-align: center;
  width: 100%;
  font-size: 35px;
  margin: 0 auto 30px; }

.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.btn {
  border-radius: 35px;
  padding: 5px 43px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #FFF;
  outline: none;
  border: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-border {
  background: transparent;
  border: 2px solid #FFAD1B;
  border-radius: 35px;
  color: #281E7A;
  font-weight: bold;
  padding: 3px 25px; }
  .btn-border:hover {
    background: #FFAD1B;
    color: #fff; }

.btn-accent {
  background: #FFAD1B; }
  .btn-accent:hover {
    background: #cc8706; }

header {
  padding: 24px 0; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  max-width: 163px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.navigation {
  margin: 0 40px 0 auto; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 40px 0 0; }
    .menu li:last-child {
      margin: 0; }
  .menu a {
    color: #281E7A;
    font-size: 18px;
    font-weight: bold; }
  .menu .current {
    text-decoration: underline;
    font-weight: 900; }

/* main */
main {
  background: #281E7A;
  padding: 46px 0 98px; }

.main {
  background: #281E7A url("../img/mian-bkg.png") top right no-repeat;
  overflow-x: hidden;
  padding: 172px 0 430px; }
  .main .btn {
    height: 55px;
    font-size: 20px; }

.main-title {
  padding-bottom: 22px; }

.main-text {
  margin-bottom: 73px;
  font-size: 24px;
  max-width: 650px; }

.main .box-text {
  margin: 0 0 22px;
  font-size: 20px; }

/* footer */
footer {
  background: #48484a;
  padding: 35px 0 24px;
  font-size: 16px; }
  footer a {
    color: #fff; }
  footer .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 860px; }

.mail {
  text-align: center;
  margin: 0 60px 0 0; }

.footer-menu li {
  margin: 0 0 14px; }
  .footer-menu li:last-child {
    margin: 0; }

.footer-menu .current {
  font-weight: 900;
  text-decoration: underline; }

.social-box {
  margin: 22px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 19px; }
  .list-social li {
    margin: 0 15px 0 0; }
    .list-social li:last-child {
      margin: 0; }

.list-attachment {
  margin: 18px 0 0; }
  .list-attachment li {
    margin: 0 0 10px; }
    .list-attachment li:last-child {
      margin: 0; }

.copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin: 27px auto 0; }

.form {
  max-width: 287px;
  width: 100%;
  margin: 0 auto; }
  .form button {
    width: 100%; }
  .form .link {
    text-align: center; }

.main-request {
  min-height: 832px; }
  .main-request .box-text {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 300; }
    .main-request .box-text a {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      text-decoration: underline; }
    .main-request .box-text p {
      margin: 0 0 30px; }
      .main-request .box-text p:last-child {
        margin: 0; }

.links {
  font-weight: 500; }

.main-forgot h2 {
  margin: 0 auto; }

.mail-user {
  margin: 7px auto 26px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  text-align: center; }

.error-box {
  display: none;
  position: absolute;
  z-index: 1;
  background: #FF2020;
  color: #fff;
  right: 0;
  border-radius: 8px;
  text-align: center;
  top: calc(100% + 9px);
  font-size: 14px;
  padding: 7px 20px;
  border: 2px solid #FF2020;
  max-width: 216px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .error-box:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -9px;
    width: 32px;
    height: 9px;
    background: url("../img/allert-bg.svg") no-repeat center;
      background-size: 100%; }

.error-input input, .error-input select, .error-input textarea {
  color: #fff;
  border-color: #EEEEEE;
  background: rgba(255, 32, 32, 0.5); }
  .error-input input::-webkit-input-placeholder, .error-input select::-webkit-input-placeholder, .error-input textarea::-webkit-input-placeholder {
    color: #fff; }
  .error-input input::-moz-placeholder, .error-input select::-moz-placeholder, .error-input textarea::-moz-placeholder {
    color: #fff; }
  .error-input input::-ms-input-placeholder, .error-input select::-ms-input-placeholder, .error-input textarea::-ms-input-placeholder {
    color: #fff; }
  .error-input input::placeholder, .error-input select::placeholder, .error-input textarea::placeholder {
    color: #fff; }

.error-input .input-icon {
  opacity: 1; }

.error-input .error-box {
  display: block; }

.btn-burger {
  width: 24px;
  cursor: pointer;
  display: none; }
  .btn-burger span {
    display: block;
    width: 100%;
    background: #FFAD1B;
    margin: 0 0 3px;
    height: 2px; }
    .btn-burger span:last-child {
      margin: 0; }

@media (max-width: 1850px) {
  .main {
    background-position: 115% 0%; } }

@media (max-width: 1800px) {
  .main {
    background: #281e7a url("../img/mian-bkg.png") no-repeat 140% 0%; }
  .container {
    max-width: 1450px; } }

@media (max-width: 1715px) {
  .main {
    background-position: 233% 0%; } }

@media (max-width: 1600px) {
  .main {
    background-position: 213% 0%; } }

@media (max-width: 1515px) {
  .main {
    background-position: 264% 0%; } }

@media (max-width: 1460px) {
  .main {
    background-position: 350% 0%;
    padding-top: 115px;
    padding-bottom: 335px; }
  .main-title {
    font-size: 44px;
    max-width: 387px; }
  .main-text {
    font-size: 21px;
    max-width: 387px; }
  .container {
    max-width: 1250px; } }

@media (max-width: 1365px) {
  .main {
    background-position: 190% 0;
    padding-top: 100px;
    padding-bottom: 225px;
    background-size: 1000px auto; }
  .main-title {
    font-size: 44px;
    max-width: 387px; }
  .main-text {
    font-size: 21px;
    max-width: 387px; } }

@media (max-width: 1280px) {
  header {
    padding: 15px 0; }
  .logo {
    max-width: 109px; }
  .main {
    background-position: 151% 0;
    padding-top: 90px;
    padding-bottom: 180px;
    background-size: 836px auto; }
  .main-title {
    font-size: 32px; }
  .main-text {
    font-size: 16px;
    max-width: 320px; }
  .main .box-text {
    font-size: 16px; }
  .container {
    max-width: 950px;
    padding: 0 15px; }
  button {
    padding: 10px 52px;
    font-size: 14px; }
  footer {
    padding: 20px 0;
    font-size: 13px; }
  .copyright {
    font-size: 10px; }
  .main .btn {
    font-size: 18px;
    height: 50px;
    padding: 10px 40px; }
  .btn-border {
    padding: 5px 20px;
    font-size: 14px;
    height: 36px; }
  .menu li {
    margin: 0 20px 0 0; }
    .menu li:last-child {
      margin: 0; }
  .menu a {
    font-size: 14px; } }

@media (max-width: 1045px) {
  .main {
    background-position: 233% 0; } }

@media (max-width: 960px) {
  .main {
    background-position: 489% 0; }
  .main-title {
    max-width: 325px; }
  .main-text {
    max-width: 308px; }
  .container {
    max-width: 720px; } }

@media (max-width: 895px) {
  .main {
    background-position: 308% 0;
    background-size: 725px auto;
    padding-top: 77px;
    padding-bottom: 136px; } }

@media (max-width: 808px) {
  .main {
    background-position: 449% 0; }
  .main-text {
    margin-bottom: 42px; } }

@media (max-width: 780px) {
  .main {
    background-position: 349% 0;
    background-size: 659px auto;
    padding-top: 58px;
    padding-bottom: 120px; } }

@media (max-width: 730px) {
  .main {
    background-position: 191% 0;
    background-size: 486px auto;
    padding-top: 60px;
    padding-bottom: 105px; }
  .main-title {
    font-size: 21px; }
  .main-text {
    margin-bottom: 26px; }
  .mail {
    margin: 0 20px 0 0; }
  .main-request {
    min-height: auto; }
    .main-request .box-text {
      font-size: 16px; }
      .main-request .box-text a {
        font-size: 16px; } }

@media (max-width: 625px) {
  header {
    padding: 12px 0; }
  .logo {
    max-width: 90px; }
  .main {
    background-position: center 96%;
    background-size: 621px auto;
    padding-top: 47px;
    padding-bottom: 449px; }
    .main .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
    .main .btn {
      margin: 0 auto; }
  .main-wrap {
    text-align: center; }
  button {
    padding: 13px 69px; }
  .footer-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 28px;
    width: 185px; }
  .footer-column__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 25px; }
  .footer-column-center {
    margin-right: 0px;
    margin-bottom: 15px; }
  .footer-note {
    margin-bottom: 5px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 575px) {
  .mail {
    margin: 0 auto; }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-column {
    margin: 0 0 20px; }
    .footer-column:last-child {
      margin: 0; }
  .copyright {
    margin: 0; }
  .footer-menu a {
    text-align: center; }
  .social-box {
    margin: 20px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .list-social {
    margin: 10px auto 0; }
  .footer-column p {
    text-align: center; }
  h2 {
    font-size: 24px;
    margin: 0 auto 20px; }
  main {
    padding: 50px 0 60px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 480px) {
  .navigation {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background: #fff;
    z-index: 2; }
  .btn-burger {
    display: block; }
  header .btn {
    margin: 0 20px 0 auto; }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .menu li {
      margin: 0 0 10px; } }
