@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: #fff

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  box-sizing: border-box
  font-family: $default-font
  width: 100%
  transition: .3s ease
  padding: 0 35px
  text-align: center
  background: transparent
  color: rgba(#fff, .5)
  font-size: 16px
  border: 2px solid rgba(#EEEEEE, .5)
    radius: 19px

  &:hover, &:focus
    color: #fff
    border-color: #EEEEEE

    + .input-icon
      opacity: 1

    &::placeholder
      color: #fff

  &::placeholder
    color: rgba(#fff, .5)


select
  width: 100%
  height: 38px
  appearance: none
  background: transparent
  border: 2px solid rgba(#EEEEEE, .5)
    radius: 19px
  text-align: center
  text-align-last: center


input
  height: 38px

textarea
  height: 103px
  padding: 10px
  text-align: left

label
  position: relative
  display: block
  width: 100%
  margin: 0 auto 15px

.input-icon
  position: absolute
  top: 9px
  left: 15px
  width: 20px
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  opacity: .5

.input-icon-select
  left: auto
  right: 15px

.input-title
  width: 100%
  display: block
  text-align: center
  color: #fff
  margin: 0 auto 3px

.link
  text-decoration: underline
  margin: 5px auto 0
  color: #fff
  font-size: 12px

h1
  font-family: $font
  font-size: 48px
  font-weight: 600
  font-style: normal
  text-transform: uppercase

h2
  text-align: center
  width: 100%
  font-size: 35px
  margin: 0 auto 30px

.container
  width: 100%
  max-width: 1800px
  padding: 0 30px
  margin: 0 auto
  position: relative
  display: flex
  flex-wrap: wrap
  box-sizing: border-box

.btn
  border-radius: 35px
  padding: 5px 43px
  height: 36px
  font-family: $default-font
  font-style: normal
  font-size: 18px
  color: #FFF
  outline: none
  border: none
  transition: .3s ease
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  width: fit-content

.btn-border
  background: transparent
  border: 2px solid $accent
  border-radius: 35px
  color: $blue
  font-weight: bold
  padding: 3px 25px

  &:hover
    background: $accent
    color: #fff

.btn-accent
  background: $accent

  &:hover
    background: $hover

//header
header
  padding: 24px 0

  .container
    align-items: center

.logo
  max-width: 163px
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.navigation
  margin: 0 40px 0 auto

.menu
  display: flex
  align-items: center
  flex-wrap: wrap


  li
    margin: 0 40px 0 0

    &:last-child
      margin: 0

  a
    color: $blue
    font-size: 18px
    font-weight: bold

  .current
    text-decoration: underline
    font-weight: 900

/* main
main
  background: $blue
  padding: 46px 0 98px

.main
  background: $blue url("../img/mian-bkg.png") top right no-repeat
  overflow-x: hidden
  padding: 172px 0 430px

  .btn
    height: 55px
    font-size: 20px

.main-title
  padding-bottom: 22px

.main-text
  margin-bottom: 73px
  font-size: 24px
  max-width: 650px

.main .box-text
  margin: 0 0 22px
  font-size: 20px

/* footer
footer
  background: #48484a
  padding: 35px 0 24px
  font-size: 16px

  a
    color: #fff

  .container
    align-items: flex-start
    justify-content: space-between
    max-width: 860px
  h3
    font-size: 24px
    font-weight: 500
    margin: 0 0 15px

.mail
  text-align: center
  margin: 0 60px 0 0

.footer-menu
  li
    margin: 0 0 14px

    &:last-child
      margin: 0

  .current
    font-weight: 900
    text-decoration: underline

.social-box
  margin: 48px 0 0
  display: flex
  align-items: center

.list-social
  display: flex
  align-items: center
  margin: 0 0 0 19px

  li
    margin: 0 15px 0 0

    &:last-child
      margin: 0

.list-attachment
  margin: 18px 0 0

  li
    margin: 0 0 10px

    &:last-child
      margin: 0

.copyright
  width: 100%
  text-align: center
  font-size: 14px
  margin: 32px auto 0

.form
  max-width: 287px
  width: 100%
  margin: 0 auto

  button
    width: 100%

  .link
    text-align: center

.main-request
  min-height: 832px

  .box-text
    text-align: center
    width: 100%
    font-size: 18px
    font-weight: 300

    a
      display: inline-block
      font-size: 18px
      color: #fff
      text-decoration: underline

    p
      margin: 0 0 30px

      &:last-child
        margin: 0

.links
  font-weight: 500

.main-forgot
  h2
    margin: 0 auto

.mail-user
  margin: 7px auto 26px
  color: #fff
  font-size: 14px
  width: 100%
  text-align: center

.error-box
  display: none
  position: absolute
  z-index: 1
  background: #FF2020
  color: #fff
  right: 0
  border-radius: 8px
  text-align: center
  top: calc(100% + 9px)
  font-size: 14px
  padding: 7px 20px
  border: 2px solid #FF2020
  max-width: 216px
  width: 100%
  box-sizing: border-box

  &:before
    content: ''
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    top: -9px
    width: 32px
    height: 9px
    background: url("../img/allert-bg.svg") no-repeat center
      size: 100%

.error-input
  input, select, textarea
    color: #fff
    border-color: #EEEEEE
    background: rgba(#FF2020, .5)

    &::placeholder
      color: #fff

  .input-icon
    opacity: 1

  .error-box
    display: block

.btn-burger
  width: 24px
  cursor: pointer
  display: none

  span
    display: block
    width: 100%
    background: $accent
    margin: 0 0 3px
    height: 2px

    &:last-child
      margin: 0

//why-quiZone
.why-quiZone
  background: #302576
  padding: 29px 0
  box-shadow: 0 3px 6px rgba(#000, .8) inset

  .container
    max-width: 1420px
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap

.why-quiZone-box
  max-width: 330px
  width: 100%
  font-size: 18px
  text-align: center

  .box-text
    margin: 11px auto 17px

  h3
    font-size: 36px
    font-weight: bold
    color: $accent

  &__img
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    width: 156px
    height: 156px
    border-radius: 50%
    overflow: hidden

//.how-quiZone
.how-quiZone
  background: #281E7A
  color: #fff
  padding: 44px 0 36px
  box-shadow: 0 3px 6px rgba(#000, .8) inset

  .container
    max-width: 1420px

  .box-text
    text-align: center
    max-width: 1080px
    margin: 0 auto
    width: 100%
    line-height: 35px
    font-size: 20px

    p
      margin: 0 0 10px

    span
      display: block
      font-size: 14px

  h2
    font-size: 40px
    font-weight: bold


.color-accent
  color: $accent

.how-quiZone-img
  display: flex
  align-items: center
  justify-content: center
  max-width: 400px
  width: 100%
  margin: 0 auto

.how-quiZone-content
  border-bottom: 1px solid rgba($accent, .5)
  padding: 0 0 30px
  width: 100%

//quiZone-choice
.quiZone-choice
  color: #fff
  padding: 36px 0
  width: 100%

  h2
    font-size: 40px
    font-weight: bold
    color: $accent

.text-subtitle
  text-align: center
  margin: 0 auto 52px
  font-size: 20px

.quiZone-choice-wrapper
  width: 100%

.quiZone-choice-box
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: center
  max-width: 1150px
  width: 100%
  margin: 0 auto 70px
  font-size: 20px

.quiZone-choice-title
  width: 100%

  h3
    font-size: 30px
    font-weight: 500

  p
    margin: 20px 0 12px
    font-size: 20px

.quiZone-choice-body
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  flex-wrap: wrap

.quiZone-choice-img
  display: flex
  align-items: center
  justify-content: center
  max-width: 540px
  width: 100%
  border: 5px solid #fff
  height: 208px
  overflow: hidden

  img
    width: 100%
    height: 100%
    object-fit: cover

.quiZone-choice-text
  width: calc(100% - 540px)
  padding: 20px 0 0 16px

.list-checkbox
  li
    position: relative
    margin: 0 0 24px
    padding: 0 0 0 31px

    &:last-child
      margin: 0

    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 18px
      height: 18px
      background: url("../img/checkbox.svg") no-repeat center
        size: contain

//.how-start
.how-start
  background: #302576
  padding: 38px 0 25px
  box-shadow: 0 3px 6px rgba(#000, .8) inset

  h2
    font-weight: bold
    font-size: 40px
    color: $accent
    margin: 0 auto 36px

  .box-text
    font-size: 20px
    text-align: center
    line-height: 35px
    width: 100%

    span
      display: block
      margin: 0 auto
      font-size: 16px

      a
        display: inline

    .btn
      margin: 10px auto 18px
      height: 55px
      max-width: 207px
      width: 100%
      font-size: 20px


.how-start-wrapper
  width: 100%
  max-width: 900px
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  margin: 0 auto 30px


.how-start-box
  text-align: center
  margin: 0 0 50px
  max-width: 200px
  width: 100%
  font-size: 20px

  a
    font-size: 20px

.how-start-box__icon
  border: 5px solid $accent
    radius: 50%
  display: flex
  align-items: center
  justify-content: center
  width: 100px
  height: 100px
  margin: 0 auto 4px

//main page
.main-page
  padding: 0 0 65px
  background: #fff

  h1
    text-align: center
    margin: 0 auto
    text-transform: none
    font-family: $default-font

.main-page-title
  padding: 70px 0
  color: #fff
  background: linear-gradient(to right, rgba(40, 30, 122, 1) 0%, rgba(53, 136, 234, 1) 100%)


.main-questions-content
  padding: 85px 0 0

.question-box
  width: 100%
  max-width: 1200px
  color: #281E7A
  margin: 0 auto 30px
  font-size: 20px
  line-height: 30px

  a
    text-decoration: underline
    color: $blue
    display: inline
    font-size: 20px

  h4
    font-weight: bold

  &:last-child
    margin: 0 auto

.main-how
  background: $blue

  .main-page-title
    background: #302576
    box-shadow: 0 3px 6px rgba(#000, .8)

.main-how-content
  padding: 37px 0
  font-size: 20px

  .container
    flex-direction: column
    align-items: center

  h4
    margin: 0 auto 40px
    text-align: center

.main-how-step
  display: flex
  align-items: center
  flex-wrap: wrap
  max-width: 750px
  width: 100%
  margin: 0 auto 67px
  line-height: 28px

  h3
    font-size: 24px
    font-weight: bold
    margin: 0 0 16px

  span
    display: block
    font-size: 16px

  .box-text
    a
      font-size: 20px
      display: inline

.main-how-step__icon
  width: 133px
  min-width: 133px

.main-how-step__body
  width: calc(100% - 133px)
  padding: 0 0 0 98px

//main-software
.main-software
  padding: 0
  .main-page-title
    font-size: 20px
    padding: 45px 0 176px
    background: url("../img/bg-figure.svg") no-repeat center
      size: cover
    box-shadow: none
    .btn
      margin: 13px auto 0

    h1
      margin: 108px auto 61px
      font-size: 36px

      strong
        font-size: 46px
        display: inline-block

      span
        display: block
        text-align: right
        font-size: 25px
        margin: -14px -80px 0 0

    .box-text
      line-height: 25px
      max-width: 800px
      margin: 0 auto
      width: 100%
      font-weight: 300

    .container
      flex-direction: column
      align-items: center


.main-software-box
  width: 100%
  padding: 154px 0 70px
  background: url("../img/bg-figure1.svg") no-repeat center
    size: cover
  margin: -154px 0 0
  h3
    font-size: 26px
    font-weight: 500
    margin: 0 0 35px
  .box-text
    font-size: 20px
    font-weight: 300
  .container
    max-width: 1100px
    width: 100%

.main-software-box2
  background: url("../img/bg-figure2.svg") no-repeat center
    size: cover
  margin: -70px 0 0
  padding: 126px 0 149px

.main-software-box3
  background: url("../img/bg-figure3.svg") no-repeat center
    size: cover
  margin: -127px 0 0
  padding: 127px 0 107px

.main-software-box-footer
  background: url("../img/bg-figure4.svg") no-repeat center
    size: cover
  margin: -103px 0 0
  padding: 147px 0 66px
  .container
    flex-direction: column
    align-items: center
    font-size: 20px
    text-align: center
    .btn
      margin: 13px auto
    span
      font-size: 16px

.main-software-box__icon
  max-width: 150px
  .img
    width: 150px
    height: 150px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  p
    font-size: 16px
    font-weight: bold
    color: $accent
    text-align: right
    padding: 0 30px 0 0
    span
      display: block
      color: #fff
      font-size: 12px
      margin: 0 -30px 0 0

.main-software-box__body
  width: calc(100% - 150px)
  padding: 0 0 0 84px

@import "media"
// Всегда в конце
